.box {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background-color: pink;
  border: 1px solid black;
  cursor: pointer;
  transition: 1s;
}

.box1:hover {
  /* transform: translateX(50px) scale(2); */
  width: 200px;
}

.box2:hover {
  transform: translate(50%, 0) skew(-45deg);
}

.box3:hover {
  border-radius: 50%;
  background-color: red;
  transform: translateX(300px) rotate(360deg);
}

.box4:hover {
  background-color: yellow;
  perspective: 500px;
  /* perspective은 부모요소에 줘야함 */
  transform: translateY(50px) rotateY(360deg) scale(1.5);
}
