
.stripes >*{
    background-color: navy;
    color: white;
}
.stripes *:nth-of-type(2){
    background-color: yellow;
    color: black;
}
.stripes *:nth-child(6){
    background-color: yellow;
    color: black;
}
.stripes *:nth-child(10){
    background-color: yellow;
    color: black;
}
 